<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">Employes </h1>
  <button class="btn btn-light btn-lg text-light bg-dark" data-bs-toggle="modal" data-bs-target="#addEmployeModal">Add new employe</button>

  <script src="js/jquery-3.6.0.min.js"></script>

  <script src="js/jQuerySPApp.js"></script>

  <script src="js/bootstrap.bundle.min.js"></script>

  <script src="js/jquery.validate.min.js"></script>

  <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>

  <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">



<script src="./js/employe-service.js"></script>

<div class="modal fade" id="addEmployeModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <form id="addEmployeForm">
        <div class="modal-header">
          <h5 class="modal-title">Employe</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="form-group">
              <label>Name</label>
              <input name="name" type="text" class="form-control required" placeholder="Enter name">
            </div>
            <div class="form-group">
              <label>Surname</label>
              <input name="surname" type="text" class="form-control required" placeholder="Enter surname">
            </div>
            <div class="form-group">
              <label>Email</label>
              <input name="email" type="email" class="form-control required" placeholder="Enter email">
            </div>
            <div class="form-group">
              <label>Satus</label>
              <input name="status" type="text" class="form-control required" placeholder="Enter status">
            </div>
            <div class="form-group">
              <label>Position</label>
              <input name="position" type="text" class="form-control required" placeholder="Enter position">
            </div>
            </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="modal fade" id="updateEmployeModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <form id="updateEmployeForm">
        <div class="modal-header">
          <h5 class="modal-title">Employe</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
           <input type="hidden" name="id" />
            <div class="form-group">
              <label>Name</label>
              <input name="name" type="text" class="form-control required" placeholder="Enter name">
            </div>
            <div class="form-group">
              <label>Surname</label>
              <input name="surname" type="text" class="form-control required" placeholder="Enter surname">
            </div>
            <div class="form-group">
              <label>Email</label>
              <input name="email" type="email" class="form-control required" placeholder="Enter email">
            </div>
            <div class="form-group">
              <label>Satus</label>
              <input name="status" type="text" class="form-control required" placeholder="Enter status">
            </div>
            <div class="form-group">
              <label>Position</label>
              <input name="position" type="text" class="form-control required" placeholder="Enter position">
            </div>
            </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>




</div>
<div class="container marketing" style="margin-top:10px;">

<div class="row">
  <div>

  </div>
</div>





  <div class="row">
    <div class="col-12">
      <table class="table table-bordered" id="employe-table-full">
        <thead id="employe-table-full-list">

          <tr>
            <th class="bg-dark text-light">ID</th>
            <th class="bg-dark text-light">Name</th>
            <th class="bg-dark text-light">Surname</th>
            <th class="bg-dark text-light">Email</th>
            <th class="bg-dark text-light">Status</th>
            <th class="bg-dark text-light">Position</th>
            <th class="bg-dark text-light">Action</th>
          </tr>
        </thead>
        <tbody>





        </tbody>
      </table>
    </div>
  </div>
</div>


<canvas class="my-4 w-100" id="myChart" width="900" height="380"></canvas>
<script>
  var token = localStorage.getItem("token");
    if (token){
      EmployeService.init();;

    }else{
      window.location.replace("login.html");
    }


</script>
