<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">Memberships </h1>

  <link href="./css/font-awesome.min.css" rel="stylesheet" type="text/css">

<script src="./js/membership-service.js"></script>

</div>
<div class="container marketing" style="margin-top:10px;">

<div class="row">
  <div>

  </div>
</div>


<table id="membership-table-list" class="table table-dark table-striped">
  <thead id ="membership-table">
  <tr>

   <th> ID</th>
    <th> Name</th>
   <th>Description</th>
   <th>Start date</th>
   <th>End date</th>
 </tr>

</table>
  </div>
</div>
</div>

<canvas class="my-4 w-100" id="myChart" width="900" height="380"></canvas>
<script>
  var token = localStorage.getItem("token");
    if (token){
      MembershipService.init();;

    }else{
      window.location.replace("login.html");
    }


</script>
